<a href="#Modal-Rate" class="rate icon-button " uk-toggle uk-tooltip="امتیاز دهی" uk-icon="favourite"></a>
<div class="Stars" style="--rating:  @ViewBag.LikeCount;" uk-tooltip="@ViewBag.LikeCount" aria-label="The rating of this video is 2.3 out of 5"></div>
<span class="raiting remove-at-mobile">
    @ViewBag.LikeCount
</span>
