@import '../_colors.scss';
@import '../_layout.scss';

.media {
    position: absolute;
    left: 0;
    top: $nav-height + 26px;
    display: flex;

    > .column {
        padding: 12px 8px;
        background: #EFEFEF;
        @include border-radius(0,8px,8px,0);
        margin: auto 0;
    }
}

.main-search {
    background: #F8F8F8;
    height: $White-Area-Height;
    overflow: hidden;
    padding-bottom: 16px;

    .search-box {
        min-width: 48vw;
        background: #fff;
        @include shadow-mild;
        @include border-radius(10px,10px,10px,10px);
        border: 1px solid #ddd;
        margin-top: $nav-height + 40px;
        height: 36px;
        padding: 10px 12px;

        button {
            color: #8d8d8d;
            margin: auto;
            padding: 6px;
            @include border-radius(100%,100%,100%,100%);
            @include trans(.3s);
        }

        button:hover {
            background: #efefef;
        }

        input {
            width: 100%;
            border: none;
            font-size: 16px;
        }
    }
}

.category-drop {
    background: #fff;
    @include border-radius(12px,12px,12px,12px);
    @include shadow-more;
    height: auto;
    max-height: 240px;
    z-index: 999;
    overflow: hidden;

    ul {
        li {
            padding: 8px 12px 8px 0;
            @include trans(.5s);
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            color: #333;
            cursor: pointer;

            b {
                color: $primary;
            }
        }

        li:hover {
            @include trans(.1s);
            background: #eee;
        }
    }
}

#listCategories {
    b {
        color: $primary;
    }
}