/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
.white-area {
  height: 224px;
  background: #F8F8F8;
  width: 100vw; }

.white-area-margin {
  margin-top: -204px; }

@media only screen and (max-width: 764px) {
  .white-area-margin {
    margin-top: -160px; } }

@media only screen and (max-device-width: 764px) {
  .white-area-margin {
    margin-top: -160px; } }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

@media only screen and (max-device-width: 480px) {
  .space-half {
    width: 100vw;
    height: 3vh; }
  .space {
    width: 100vw;
    height: 6vh; }
  .space-double {
    width: 100vw;
    height: 9vh; }
  .space-bottom-nav {
    width: 100vw;
    height: 64px; } }

.space-nav {
  width: 100vw;
  height: 80px; }

/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-auto {
  flex: auto; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

.text-center {
  text-align: center !important; }

.video-playback {
  width: 100%;
  max-height: 480px;
  background-color: #000;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px; }

.container {
  width: 80%; }

@media only screen and (max-width: 764px) {
  .container {
    width: 92%; } }

@media only screen and (max-device-width: 764px) {
  .container {
    width: 92%; } }

.btn-primary.btn-orange {
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1vw;
  cursor: pointer;
  background: #ffca7a;
  background: -moz-linear-gradient(135deg, #ffca7a 0%, #f44a4a 100%);
  background: -webkit-linear-gradient(135deg, #ffca7a 0%, #f44a4a 100%);
  background: linear-gradient(135deg, #ffca7a 0%, #f44a4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffca7a",endColorstr="#f44a4a",GradientType=1); }

.btn-orange:hover {
  opacity: .8; }

.control-panel {
  display: flex;
  flex-direction: row; }
  .control-panel-top {
    margin-right: auto; }
    .control-panel-top .star-container {
      background: #F5F5F5;
      padding: 10px;
      margin: auto 0;
      -moz-border-radius: 8px 8px 8px 8px;
      -webkit-border-radius: 8px 8px 8px 8px;
      border-radius: 8px 8px 8px 8px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
      .control-panel-top .star-container .rate {
        margin-top: 3px;
        margin-left: 5px; }
      .control-panel-top .star-container .raiting {
        margin: auto 4px;
        font-size: 15px;
        color: #FFCC00; }
  .control-panel .btn {
    min-width: unset;
    display: flex;
    flex-direction: row-reverse;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative; }
    .control-panel .btn span {
      margin: auto 4px; }
    .control-panel .btn .price {
      color: #fff;
      font-size: 18px;
      margin-top: 4px;
      margin-right: 4px; }
    .control-panel .btn .toman {
      color: #fff;
      font-size: 10px;
      margin: 12px 0 0 0; }
  .control-panel .icon-button {
    color: #AFAFAF; }
  .control-panel .icon-button:hover {
    color: #F94646; }
  .control-panel .action-panel .icon-button {
    margin: auto 8px; }

@media only screen and (max-width: 950px) {
  .control-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .control-panel-top {
      margin-right: auto !important; }
    .control-panel-bottom {
      margin-top: 16px;
      display: flex;
      flex-direction: row-reverse;
      grid-gap: 12px; }
      .control-panel-bottom .btn-primary {
        margin: 0;
        width: 100%; } }
