@import '../_colors.scss';
@import '../_layout.scss';

.video-playback {
    width: 100%;
    max-height: 480px;
    background-color: #000;
    @include border-radius(8px,8px,8px,8px);
    @include shadow-medium;
}

.container {
    width: 80%;
}

@media only screen and (max-width: 764px) {
    .container {
        width: 92%;
    }
}

@media only screen and (max-device-width: 764px) {
    .container {
        width: 92%;
    }
}


.btn-primary.btn-orange {
    @include border-radius(8px,8px,8px,8px);
    @include trans(.2s);
    @include shadow-more;
    cursor: pointer;
    background: rgb(255,202,122);
    background: -moz-linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    background: linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffca7a",endColorstr="#f44a4a",GradientType=1);
}

.btn-orange:hover {
    opacity: .8
}

.control-panel {
    @include row;

    &-top {
        margin-right: auto;

        .star-container {
            background: #F5F5F5;
            padding: 10px;
            margin: auto 0;
            @include border-radius(8px,8px,8px,8px);

            .rate {
                margin-top: 3px;
                margin-left: 5px;
            }

            .raiting {
                margin: auto 4px;
                font-size: 15px;
                color: #FFCC00;
            }
        }
    }

    .btn {
        min-width: unset;
        @include row-reverse;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;

        span {
            margin: auto 4px;
        }

        .price {
            color: #fff;
            font-size: 18px;
            margin-top: 4px;
            margin-right: 4px;
        }

        .toman {
            color: #fff;
            font-size: 10px;
            margin: 12px 0 0 0
        }
    }

    .icon-button {
        color: #AFAFAF;
    }


    .icon-button:hover {
        color: $primary;
    }

    .action-panel {
        .icon-button {
            margin: auto 8px;
        }
    }
}

@media only screen and (max-width: 950px) {
    .control-panel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;


        &-top {
            margin-right: auto !important;
        }

        &-bottom {
            margin-top: 16px;
            @include row-reverse;
            grid-gap: 12px;

            .btn-primary {
                margin: 0;
                width: 100%;
            }
        }
    }
}
