
@{
    ViewBag.Title = "گفت و گو";
    ViewBag.Content = "بحث و گفت و گو با مربیان خود";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="chat mat uk-padding uk-box-shadow-small column uk-margin-xlarge-bottom">
    <h3 class="uk-margin-remove-top">
        گفت و گو
    </h3>

    <div class="form-group">
        <label for="Contacts">مخاطبان</label>
        <div class="row-reverse">
            @Html.Action("Chats")
        </div>
    </div>
    <div id="listMessage">

    </div>

</div>

@section Scripts{
    <script>

        $('#mySelect').on('change', function () {
            $("#overlay").fadeIn(300);
            var id = $(this).val();
            $.get('/User/Chat/ViewChat/' + id, function (result) {
                $('#listMessage').html(result);
                $("#overlay").fadeOut(300);
            });
            $("#overlay").fadeOut(300);
        });
        function sendMessage(id) {
            $("#overlay").fadeIn(300);
            if ($('#messageTextAreaa').val() == "") {
                $("#overlay").fadeOut(300);
                UIkit.notification("متن خالیست");
                return false;
            }
            var message = $('#messageTextAreaa').val();
            $.ajax({
                url: '/User/Chat/SendMessage',
                data: { id: id, message: message },
            }).done(function (result) {
                $('#messageTextAreaa').val("");
                $('#listMessage').html(result);
                $("#overlay").fadeOut(300);
            });
            $("#overlay").fadeOut(300);
        }

    </script>
}
