@model IEnumerable<DataLayer.Models.TblChat>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="message column">
            <div class="row">
                <span class="name uk-margin-auto-left" dir="ltr" uk-icon="chevron-left">@item.TblUser1.Name ارسال شده توسط</span>
                @*اگر پیغام توسط مخاطب و نه کاربر فرستاده شده باشد کد پایین را قرار دهید*@
                <span class="name uk-margin-auto-left" dir="ltr" uk-icon="chevron-right"> @item.TblUser.Name دریافت کننده پیام</span>
                <span class="date"> @item.TimeSent.ToShamsi()</span>
            </div>
            <p class="text">
                @item.Message
            </p>
        </div>
    }
}
