@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Pages/Profile.min.css" rel="stylesheet" />

<div role="none" class="space-nav"></div>

<div class="uk-container">

    @RenderBody()
</div>