@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Pages/Profile.min.css" rel="stylesheet" />

<div role="none" class="space-nav"></div>

<div class="uk-container">
    <div class="user mat column uk-box-shadow-medium uk-margin-medium-bottom">
        <div class="user-top row-reverse uk-padding-small uk-padding-remove-bottom">
            <h3 class="uk-margin-remove">نام کاربر</h3>
            <img src="~/Resources/Static/Vector/Education.svg" class="uk-margin-right" height="24" width="24" alt="Badge" />
            <div class="search-box row uk-margin-auto-right">
                <button uk-icon="search"></button>
                <label for="CategorySearch" class="collapsed">جستجو دسته بندی</label>
                <input dir="rtl" type="text" placeholder="جستجو..." name="CategorySearch" />
            </div>
        </div>
        <hr />
        <div class="user-bottom">
            <ul class="menu row-reverse">
                <li>
                    <a href="/Profile/Dashboard" class="menu-item">
                        <h4 class="title">خانه</h4>
                        <div class="bar"></div>
                    </a>
                </li>
                <li>
                    <a href="/Profile/Videos" class="menu-item">
                        <h4 class="title">ویدیو ها</h4>
                        <div class="bar"></div>
                    </a>
                </li>
                <li>
                    <a href="/Profile/Classes" class="menu-item">
                        <h4 class="title">کلاس ها</h4>
                        <div class="bar"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @RenderBody()
</div>