@model IEnumerable<DataLayer.Models.TblVideo>

@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
    var first = Model.FirstOrDefault();
}
@Html.Partial("_HeaderProfile", @first.TblUser)

@if (Model.Any())
{
 
    @Html.Action("ListPlayList", "PlayList", new { UserId = first.UserId })

    <br class="uk-margin-top" />

    <div class="video-grid center flex-1">
        @foreach (var item in Model)
        {
            @Html.Partial("_VideoBlock", item)
        }
    </div>
}
