@model IEnumerable<DataLayer.Models.TblVideo>
@{
    ViewBag.Title = ViewBag.Names;
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
    var first = Model.FirstOrDefault();
}
@Html.Partial("_HeaderProfile", @first.TblUser)

<div class="video-grid center flex-1">
    @foreach (var item in Model)
    {
        @Html.Partial("_VideoBlock", item)

    }
</div>
