<nav>
    <ul>
        <li>
            <a href="/User/Account/UserData" uk-icon="user">
                پروفایل
            </a>
        </li>
        <li>
            <a href="/User/Account/ChangePassword" uk-icon="lock">
                تغییر رمز عبور
            </a>
        </li>
        <li>
            <a href="/User/Wallet" uk-icon="money">
                کیف پول
            </a>
        </li>
        <li>
            <a href="/User/Library/Index" uk-icon="bookmarks">
                کتابخانه
            </a>
        </li>
        <li>
            <a href="/User/Chat/Index" uk-icon="chat">
                گفت و گو
            </a>
        </li>
        <li>
            <a href="/User/Video/YourVideos" uk-icon="video">
                ویدیو های شما
            </a>
        </li>
        @*<li>
                <a href="" uk-icon="addVideo">
                    آپلود ویدیو
                </a>
            </li>
            <li>
                <a href="" uk-icon="class">
                    کلاس ها
                </a>
            </li>*@
        <li class="row-reverse">
            <a href="/User/Doc/Index" uk-tooltip="" uk-icon="form">
                تکمیل اطلاعات
            </a>
        </li>

        <!--<li class="row-reverse">-->
            <!-- در صورت تکمیل نبودن اطلاعات کاربر، لینک این اچ رف خالی باشد -->
            <!--<a href="/User/Account/AccountToInstitution" class="muted"
               uk-tooltip="title:برای تبدیل کردن حساب  خود به حساب آموزشگاهی، تکمیل اطلاعات الزامی است;pos: bottom-right" uk-icon="edu">
                حساب آموزشگاهی
            </a>
        </li>-->
    </ul>
</nav>
