
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="flex-column card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <h4>کاربر جدید</h4>
    </div>

    <div class="card-body">
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="کد">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="نام">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="شماره تماس">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="ایمیل">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="کیف پول">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select id="DegreeSearch" class="form-control form-control-sm">
                <option value="0" selected="">فعال بودن</option>
                <option value="1">فعال</option>
                <option value="2">غیر فعال</option>
            </select>
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <input class="form-control form-control-sm" type="text" placeholder="گذرواژه">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select id="DegreeSearch" class="form-control form-control-sm">
                <option value="0" selected="">همه</option>
                <option value="1">مدیر اصلی</option>
                <option value="2">مدیر محتوا</option>
                <option value="3">کاربران</option>
            </select>
        </div>
    </div>

    <div class="card-footer bg-white">
        <div class="flex-row">
            <button class="btn btn-primary">تایید</button>
            <button class="btn btn-secondary mr-2">بازگشت</button>
        </div>
    </div>
</div>


