@model IEnumerable<DataLayer.Models.TblVideo>
@{
    ViewBag.Title = "ویدیوهای شما";
    ViewBag.Content = "ویدیو هایی که شما آپلود کرده اید";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="mat uk-padding-small uk-box-shadow-small row-reverse">
    <h3 class="uk-margin-auto-left uk-margin-remove">
        ویدیو های شما
    </h3>
    <div class="row uk-margin-auto-right">
        <a href="/User/Video/Create" class="center" uk-icon="icon:addVideo;ratio:1.2" uk-tooltip="آپلود ویدیو">
        </a>
        <a onclick="showClasses()" class="center uk-margin-left" uk-icon="icon:class;ratio:1.2" uk-tooltip="کلاس ها">

        </a>
    </div>
</div>

<div class="video-grid uk-margin-top">
    @foreach (var item in Model)
    {
        @Html.Partial("UserVideoBlock", item)
    }
</div>