@import '../_colors.scss';
@import '../_layout.scss';


$side-category-width: 200px;

.side-category-placeholder {
    width: $side-category-width + 34px;
}

.side-category {
    width: $side-category-width;

    a {
        margin: 10px 0
    }
}

.menu {
    a {
        margin: 10px 0
    }
}

.button-navigation {
    display: none;
}

.datalist {
    @include row-reverse;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
        @include column;
        margin-left: 24px;
        margin-top: 4px;

        > label {
            font-size: 15px;
            color: #818181;
        }

        > span {
            font-size: 20px;
            color: #5C5C5C;
        }
    }
}

.wallet {
    @include border-radius(7px,8px,0,0);
    background: rgb(255,202,122);
    background: -moz-linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    background: linear-gradient(135deg, rgba(255,202,122,1) 0%, rgba(244,74,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffca7a",endColorstr="#f44a4a",GradientType=1);

    * {
        color: white;
    }

    h4 {
        margin: 0 auto 0 0;


        span[role=heading] {
            margin-top: 28px;
            margin-right: 6px;
        }

        span[role=definition] {
            font-size: 48px;
        }
    }
}

.alert {
    color: #EB3838;
}

.warning {
    color: #FFB31F;
}

.success {
    color: #73DA42;
}

.muted {
    color: #AEAEAE !important;
}

.table-simple {
    margin: 0;
    width: 100%;

    thead th {
        padding-bottom: 12px;
        border-bottom: 1px solid #dbdbdb;
    }

    tbody tr td {
        padding: 6px 0;
    }
}

@media only screen and (max-width: 764px) {
    .table-simple {

        thead th {
            padding-bottom: 12px;
            border-bottom: 1px solid #dbdbdb;
        }

        tbody tr td {
            padding: 6px 0;
        }
    }

    .button-navigation {
        display: block;
    }
}

@media only screen and (max-device-width : 480px) {
    .button-navigation {
        display: block;
    }
}


.blockquote {
    color: #AFAFAF;
    direction: rtl;
    font-size: 20px;
}

.blockquote:before {
    content: "|";
    font-size: 24px;
    font-weight: 900;
}


.chat {
    .contacts {
        width: 64%;
        margin-left: auto;
    }
    /*ScrollBar*/
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        @include border-radius(6px,6px,6px,6px);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @include border-radius(6px,6px,6px,6px);
    }

    &-room {
        max-height: 70vh;
        overflow-y: scroll !important;
        direction: rtl;
        @include mat;

        .message {
            margin: 0 12px;
            border-top: 1px solid #eee;
            padding-top: 16px;

            .date {
                color: lighten(#666666,20%) !important;
            }
        }

        .message.you .text::before {
            content: '•';
            width: 8px;
            height: 8px;
            @include border-radius(4px,4px,4px,4px);
            color: $primary;
        }
    }
}

.edit {
    img, video {
        @include border-radius(8px,8px,8px,8px);
        width: 100%;
    }
}

.docs {
    .docs-grid {
        @include grid-gap(64px,12px);

        h5 {
            white-space: nowrap !important;
        }

        img {
            @include border-radius(12px,12px,12px,12px);
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }

    @media only screen and (max-width : 420px) {
        .docs-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            h5 {
                white-space: nowrap !important;
                margin-bottom: 8px;
            }
        }
    }
}

// (a , b) + (c , d) = (a + c , b + d)
// (a , b) * (c , d) = (ac + bd , ad - bc)
