
@{
    ViewBag.Title = "تخلفات ویدیوها ";
}

<div class="card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <div class="row justify-content-end">
            <div class="col-md-10 col-12">
                <form class="card-form row" action="/Admin/Video/Report" method="post">
                    <div class="form-input col-md-8">
                        <div class="form-inline">
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" name="name" type="text" value="@ViewBag.name" placeholder="نام ویدیو">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" name="text" type="text" value="@ViewBag.text" placeholder="متن">
                            </div>
                        </div>
                    </div>
                    <div class="form-toolbar col-md-3">
                        <input type="submit" value="جستجو" class="btn btn-primary btn-sm" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div id="card-table" class="p-0 card-body flex-div">
        <div class="table-responsive flex">
            <table class="table fixed pr-3 text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">کد</th>
                        <th scope="col">ویدیو</th>
                        <th scope="col">نام ویدیو</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">مشاهده</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody id="listTicket" class="list-wrapper">
                    @Html.Action("ListReport", "Video")
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <div id="pagination-container"></div>
        </nav>
    </div>
</div>


<!-- Button trigger modal -->
@section Scripts{

    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function viewVideoReport(id) {
            $.get("/Admin/Video/ViewVideoReport/" + id, function (result) {
                $('#myModal').modal('show');
                $('#myModalBody').html(result);
            });
        }

        function deleteVideoReport(id) {
            if (confirm('آیا از حذف تیکت مورد نظر مظمئن هستین؟')) {
                $.get("/Admin/Video/DeleteVideoReport/" + id, function (result) {
                    if (result.success) {
                        $('#reportVideo_' + id).addClass('text-danger');
                        $("#reportVideo_" + id).hide('slow');
                    } else {
                        alert(result.responseText);
                    }
                })
            }
        }
        function success() {
            $("#myModal").modal('hide');
        }
    </script>
}