
<h3>
    کلاس ها
</h3>
<button type="button"  onclick="createClasses()"  class="btn-primary uk-margin-bottom uk-margin-auto-left">کلاس جدید</button>
<div class="row-reverse">
    <details dir="rtl" class="uk-margin-small-bottom uk-width-1-1">
        <summary>
            ریاضی گسسته
        </summary>
        <ul dir="ltr" class="column uk-margin-auto-left uk-nav uk-nav-default"
            uk-sortable="group:my; cls-custom: uk-box-shadow-small uk-background mat">
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
        </ul>
    </details>
    <div class="row uk-margin-auto-right">
        <a href="" uk-icon="trash"></a>
        <a href="" uk-icon="edit"></a>
    </div>
</div>
<div class="row-reverse">
    <details dir="rtl" class="uk-margin-small-bottom uk-width-1-1">
        <summary>
            علوم تجربی
        </summary>
        <ul dir="ltr" class="column uk-margin-auto-left uk-nav uk-nav-default"
            uk-sortable="group:my; cls-custom: uk-box-shadow-small uk-background mat">
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse uk-padding-small">
                    <span>این یک ویدیو است</span>
                    <div class="row uk-margin-auto-right">
                        <a href="" uk-icon="trash"></a>
                        <a href="" uk-icon="edit"></a>
                    </div>
                </div>
            </li>
        </ul>
    </details>
    <div class="row uk-margin-auto-right">
        <a href="" uk-icon="trash"></a>
        <a href="" uk-icon="edit"></a>
    </div>
</div>