
<h3>
    کلاس ها
</h3>
<button type="button" onclick="window.location.href='/User/Classes/Create'" class="btn-primary uk-margin-bottom uk-margin-auto-left">کلاس جدید</button>
<div id="listClasses">
    @Html.Action("ListClasses")
</div>
