@model IEnumerable<DataLayer.Models.TblCatagory>



@if (Model.Any())
{
    <label for="Playlist">زیر دسته</label>
    <div class="row-reverse">
        <select name="PlaylistId" id="PlaylistId" class="uk-width-2-3 uk-margin-small-left " dir="rtl">
            <option value="">دسته بندی نشده</option>
            @foreach (var item in Model)
            {

                <option value="@item.CatagoryId"> @item.Name</option>
            }
        </select>
    </div>
}

