@model IEnumerable<DataLayer.Models.TblCatagory>



@if (Model.Any())
{
    <label for="Playlist">زیر دسته</label>
    <div class="row-reverse">
        <select id="catagoryChildId" class="uk-width-2-3 uk-margin-small-left showUnderCategory" dir="rtl">
            <option value="">دسته بندی نشده</option>
            @foreach (var item in Model)
            {

                <option value="@item.CatagoryId"> @item.Name</option>
            }
        </select>
    </div>
}


<script>
    $(document).ready(function () {
        $('#catagoryChildId').val($('#CatagoryId').val());
        $(".showUnderCategory").change(function () {
            var id = $(".showUnderCategory option:selected").val();
            if (id != "") {
                $("#CatagoryId").val(id);
                $.get('/User/Video/ShowPlaylist/' + id, function (result) {
                    $('#playlist').html(result);
                    $("#overlay").fadeOut(300);
                });
            }
            else {
                var id = $(".showCategory option:selected").val();
                $("#CatagoryId").val("");
                $('#playlist').html("");
            }
        });


       
    });
</script>
