

@{
    ViewBag.Title = "دسته بندی";
}


<div class="card flex-div border-0 shadow">

    @Html.Action("ListCat", "Catagory")
  
    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <div id="pagination-container"></div>
        </nav>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="myModalBody">
                ...
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
@section Scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>


        function create(id) {
            $.get("/Admin/Catagory/Create/" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        }
        function subCategory(id) {
            $.get("/Admin/Catagory/ListCat?id=" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        }

        function deleteUser(id) {
            if (confirm('آیا از حذف کاربر مورد نظر مظمئن هستین؟')) {
                $.get("/Admin/User/Delete/" + id, function (result) {
                    if (result.success) {
                        $('#user_' + id).addClass('text-danger');
                        $("#user_" + id).hide('slow');
                    } else {
                        alert(result.responseText);
                    }
                })
            }
        }
        function success() {
            $("#myModal").modal('hide');
        }
    </script>
}