

<div id="card-table" class="p-0 card-body flex-div">
    <div class="table-responsive flex">
        <table class="table fixed pr-3 text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">کد</th>
                    <th scope="col">نام کلاس</th>
                    <th scope="col"> ایجاد کننده کلاس</th>
                    <th scope="col"> فعال  </th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>

            <tbody id="listPlaylist" class="list-wrapper">
                @Html.Action("SubCategorys", "Catagory")
            </tbody>
        </table>
    </div>
</div>




