<!DOCTYPE html>
<html lang="fa">
<head>

    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Project Styles-->
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Global.min.css" rel="stylesheet" />

    <!--UIKit-->
    <link href="~/Content/UIkit/uikit.min.css" rel="stylesheet" />
    <script src="~/Content/UIkit/uikit.min.js"></script>

</head>
<body>

    <h1>
        HEllo DarKnesS My OLLD fRiedn
    </h1>

    <div>
        @RenderBody()
    </div>
</body>
</html>
