@*@model DataLayer.Models.TblVideo*@
    
<div class="video-block">
    <div class="top">
        <ul class="badges row ">
            <li uk-tooltip="title:آموزشگاهی">
                <img src="~/Resources/Static/Vector/Education.svg" height="24" width="24" alt="Badge" />
            </li>
            <li uk-tooltip="title:دارای مدرک">
                <img src="~/Resources/Static/Vector/Medal.svg" height="24" width="24" alt="Badge" />
            </li>
            @*<li uk-tooltip="title:حامی خیریه">
                    <img src="~/Resources/Static/Vector/Heart.svg" height="24" width="24" alt="Badge" />
                </li>*@
        </ul>
        <img class="thumbnail" height="200" width="360" src="https://picsum.photos/360/200" alt="Thumbnail" />
    </div>
    <div class="text column">
        <div class="content column">
            <a class="title">
                این تیتر یک ویدیو می باشد
                این تیتر یک ویدیو می باشد
                این تیتر یک ویدیو می باشد
                این تیتر یک ویدیو می باشد
            </a>
            <p class="desciption">
                این توضیحات یک ویدیو می باشد بسار مختصر و مفید می باشد
                این توضیحات یک ویدیو می باشد بسار مختصر و مفید می باشد
            </p>
            <a class="tutor" uk-icon="tutor" href="#">
                نام آپلود کننده
            </a>
        </div>
        <hr />
        <div class="bottom row">
            <h6 class="price">
                36,000
            </h6>
            <div class="row star-container uk-margin-auto-left" dir="rtl">
                <div class="Stars" style="--rating: 2.6;" uk-tooltip="title:2.6" aria-label="Rating of this product is 2.3 out of 5."></div>
            </div>
        </div>
    </div>
</div>