@using DataLayer.Models;
@model DataLayer.ViewModels.VmShopCart
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Pages/Purchase.min.css" rel="stylesheet" />

<div role="none" class="space-nav"></div>

<div class="column uk-container">
    <div class="mat uk-margin-auto
         uk-width-2-3-at-m uk-width-1-1-at-s
         uk-padding column uk-box-shadow-large">
        <!-- #region Content -->

        <h1 class="uk-h3 uk-margin-remove   -bottom">پرداخت</h1>

        <p class="alert-box alert-box-warning" dir="rtl">
            لطفا در خرید خود دقت کنید، هزینه پرداختی به هیچ عنوان قابل استرداد نمی باشد.
        </p>

        <div class="column">
            <label>مبلغ قابل پرداخت</label>
            <div class="row uk-margin-auto-left price">
                <span class="toman">تومان</span>
                <label class="price">@Model.Price.ToString("#,0")</label>
            </div>
        </div>

        <div class="purch column uk-margin-small-top">
            <label>نحوه پرداخت</label>
            <div class="row-reverse purchase">
                @if (Model.IsValidBalance)
                {
                    <a href="/ShopCart/VerifyBalance" class="wallet" style="cursor:pointer">
                        <label  style="cursor:pointer">پرداخت از کیف پول</label>
                        <div class="row uk-margin-auto-left"  style="cursor:pointer">
                            <span class="toman">تومان</span>
                            <span  class="price">@Model.BalanceUser.ToString("#,0")</span>
                        </div>
                    </a>
                }
                else
                {
                    <div class="wallet" uk-toggle="target: #Modal-Charge">
                        <label class="uk-text-center">وجه کیف پول ناکافی</label>
                        <label class="uk-text-center">شارژ حساب</label>
                        <div class="row uk-margin-auto-left ">
                            <span class="toman">تومان</span>
                            <span class="price">@Model.BalanceUser.ToString("#,0")</span>
                        </div>
                    </div>
                }
                @*<div class="divider"></div>
                <a class="pal" href="/ShopCart/Payment">
                    <div>
                        <img src="~/Resources/Static/Vector/Zarinpal.svg" alt="لوگو زرین پال" />
                        <span>زرین پال</span>
                    </div>
                </a>*@
            </div>
        </div>

        <!-- #endregion -->
        @* MEHDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII *@
        @*@Html.Partial("Playlist")*@


    </div>

    <div class="uk-margin-auto uk-margin-medium-top uk-width-2-3-at-m uk-width-1-1-at-s column">

        @if (ViewBag.Playlist != null)
        {
            List<TblPlaylist> list = ViewBag.Playlist as List<TblPlaylist>;

            foreach (var item in list)
            {
                @Html.Partial("_Playlist", item);
            }
        }

    </div>
</div>