@model DataLayer.ViewModels.VmShopCart
@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Pages/Purchase.min.css" rel="stylesheet" />

<div role="none" class="space-nav"></div>

<div class="column uk-container">
    <div class="mat uk-margin-auto
         uk-width-2-3-at-m uk-width-1-1-at-s
         uk-padding column uk-box-shadow-large">
        <!-- #region Content -->

        <h1 class="uk-h3 uk-margin-remove   -bottom">پرداخت</h1>

        <p class="alert-box alert-box-warning" dir="rtl">
            لطفا در خرید خود دقت کنید، هزینه پرداختی به هیچ عنوان قابل استرداد نمی باشد.
        </p>

        <div class="column">
            <label>مبلغ قابل پرداخت</label>
            <div class="row uk-margin-auto-left price">
                <span class="toman">تومان</span>
                <label class="price">@Model.Price</label>
            </div>
        </div>

        <div class="purch column uk-margin-small-top">
            <label>نحوه پرداخت</label>
            <div class="row-reverse purchase">
                @if (Model.IsValidBalance)
                {
                    <div class="wallet">
                        <label>کسر از کیف پول</label>
                        <div class="row uk-margin-auto-left">
                            <span class="toman">تومان</span>
                            <a href="/ShopCart/VerifyBalance" class="price">@Model.BalanceUser</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="wallet uk-disabled">
                        <label>پول کیف شما کمتر از مبلغ مورد نظر است</label>
                        <div class="row uk-margin-auto-left">
                            <span class="toman">تومان</span>
                            <span class="price">@Model.BalanceUser</span>
                        </div>
                    </div>
                }
                <div class="divider"></div>
                <a class="pal"  href="/ShopCart/Payment">
                    <div>
                        <img src="~/Resources/Static/Vector/Zarinpal.svg" alt="لوگو زرین پال" />
                        <span>زرین پال</span>
                    </div>
                </a>
            </div>
        </div>

        <!-- #endregion -->
        @* MEHDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII *@
        @*@Html.Partial("Playlist")*@
    </div>
</div>

