@model IEnumerable<DataLayer.ViewModels.VmChatUsers>




<div class="chat-room uk-margin-top uk-box-shadow-hover-large">
    <ul class="uk-padding-remove">
        @foreach (var item in Model)
        {

            <li class="message you column">
                <div class="row">
                    <a href="/Dashboard/@item.SenderId/@item.Name" class="name uk-margin-auto-left" dir="ltr" uk-icon="chevron-left">@item.Name</a>
                    <span class="date"> @item.TimeSent.ToShamsi()</span>
                </div>
                <p class="text">
                    @item.Message
                </p>
            </li>

        }
    </ul>
</div>
