
@model IEnumerable<DataLayer.ViewModels.VmChatUsers>


@{Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml"; }


<div class="card border-0 shadow p-1">

    <div class="card-body flex-div">
        <ul class="list-none mb-4">
            @foreach (var item in Model)
            {
                <li class="comment">
                    <div>
                        <a href="/Dashboard/@item.SenderId/@item.Name" dir="ltr">@item.Name</a>
                        <span>@item.TimeSent.ToShamsi()</span>
                    </div>
                    <p>
                        @item.Message
                    </p>
                </li>
            }
        </ul>
    </div>

    <form class="chat card card-body shadow p-3" action="/Admin/Chat/Index" method="post">
        <button class="btn btn-primary" type="submit">فرستادن</button>
        <input class="form-control" type="text" placeholder="...">
    </form>

</div>

<!-- Button trigger modal -->
@section Scripts{


}
