

@{
    ViewBag.Title = "کیف پول";
    ViewBag.Content = "کیف پول کاربر و اطلاعات تراکنش ها";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!-- #region Modals -->

<div id="Modal-Charge" uk-modal>
    <form action="/ShopCart/ChargeBalance" class="uk-modal-dialog uk-modal-body">
        <div class="row-reverse uk-margin-bottom">
            <h3 class="uk-margin-remove">
                شارژ کیف پول
            </h3>
            <button class="uk-modal-close uk-margin-auto-right" type="button" uk-icon="close"></button>
        </div>

        <div class="form-group">
            <label for="Charge" dir="rtl">مبلغ (ريال)</label>
            <div class="input-group">
                <input type="text" id="name" name="Charge" required
                       minlength="4" maxlength="20" >
            </div>
            <span role="alert" class="alert">@*لطفا این فیلد را وارد نمایید*@</span>
        </div>

        <div class="row-reverse uk-margin-top" type="button">
            <button class="btn-primary">
                شارژ
            </button>
            <button class="btn-secondary uk-modal-close uk-margin-right">
                بازگشت
            </button>
        </div>

    </form>
</div>

<div id="Modal-Request" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="row-reverse uk-margin-bottom">
            <h3 class="uk-margin-remove">
                درخواست برداشت
            </h3>
            <button class="uk-modal-close uk-margin-auto-right" type="button" uk-icon="close"></button>
        </div>

        <p dir="rtl">
            تنها مبالغی که از فروش ویدیو های خود به دست آورده اید را می توانید برداشت نمایید.
        </p>

        <p class="alert-box alert-box-success">
            مبلغ قابل برداشت: <span>400,000</span>
        </p>

        <div class="row-reverse uk-margin-top" type="button">
            <button class="btn-primary">
                برداشت
            </button>
            <button class="btn-secondary uk-modal-close uk-margin-right">
                بازگشت
            </button>
        </div>
    </div>
</div>

<!-- #endregion -->

<div class="mat uk-box-shadow-small column">

    <div class="wallet row-reverse uk-padding">
        <h3 class="uk-margin-remove">
            کیف پول
        </h3>

        <h4 class="row">
            <span role="heading">
                تومان
            </span>
            <span role="definition" id="balance">
                
            </span>
        </h4>
    </div>
    <div class="uk-padding">
        <div class="row-reverse">
            <button class="btn-primary" type="button" uk-toggle="target: #Modal-Charge">
                شارژ
            </button>
            <button class="btn-secondary uk-margin-right" type="button" uk-toggle="target: #Modal-Request">
                درخواست برداشت
            </button>
        </div>
    </div>

</div>

<div class="mat uk-padding uk-margin-top uk-box-shadow-small uk-margin-xlarge-bottom">
    <h3 class="uk-margin-remove">
        تاریخچه تراکنش ها
    </h3>

    <table dir="rtl" class="table-simple uk-margin-top">
        <thead>
            <tr>
                <th>
                    ردیف
                </th>
                <th>
                    وجه
                </th>
                <th>
                    تاریخ
                </th>
                <th>
                    نوع تراکنش
                </th>
            </tr>
        </thead>
        <tbody>
            @Html.Action("Transaction")
        </tbody>
    </table>
</div>


<script>
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    loadBalance();
    function loadBalance() {
        $.get('/User/Wallet/Balance', function (result) {
            $('#balance').html(numberWithCommas(result));
        });
    }
</script>