@model DataLayer.ViewModels.VmForgetPassword

@using (Ajax.BeginForm("ForgetPassword", "Account", new AjaxOptions() { HttpMethod = "POST", OnFailure = "doneModal('Modal-Show')", OnSuccess = "LoadingEnd('#forgetForm')", UpdateTargetId = "forgetForm" }, htmlAttributes: new { @id = "forgetForm" }))
{
    @Html.AntiForgeryToken()
    <div class="column uk-container">
        <h3>
            فراموشی رمز عبور
        </h3>
        <div class="form-group">
            <label for="Email">ایمیل</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Email)
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "uk-text-danger" })
            </span>
        </div>

        <div class="column center uk-margin-large-top">
            <button class="btn-primary uk-margin-bottom" onclick="LoadingRun('#forgetForm')">
                ثبت
            </button>
        </div>
    </div>
}