
@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="none" class="space-nav"></div>
<div class="column uk-container">
    <div class="mat uk-margin-auto
         uk-width-1-2-at-m uk-width-1-1-at-s
         uk-padding column uk-box-shadow-large">
        <h3>
            فراموشی رمز عبور
        </h3>

        <div class="form-group">
            <label for="Email">ایمیل</label>
            <div class="input-group">
                <input type="email" name="Email" />
            </div>
            <span role="alert" class="alert">لطفا این فیلد را وارد نمایید</span>
        </div>

        <div class="row uk-margin-large-top">
            <button class="btn-primary uk-margin-auto-left">
                ثبت
            </button>
        </div>

    </div>
</div>

