@charset "UTF-8";
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
:root {
  --star-size: 24px;
  --star-color: #b5b5b5;
  --star-background: #fc0; }

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  overflow-y: hidden; }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.star-container .star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */ }
  .star-container .star-cb-group * {
    font-size: 1rem;
    font-family: Times; }
  .star-container .star-cb-group > input {
    display: none; }
    .star-container .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.5rem; }
      .star-container .star-cb-group > input + label:before {
        font-family: Times;
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #b5b5b5; }
    .star-container .star-cb-group > input:checked ~ label:before,
    .star-container .star-cb-group > input + label:hover ~ label:before,
    .star-container .star-cb-group > input + label:hover:before {
      font-family: Times;
      content: '★';
      color: #fc0;
      text-shadow: 0 0 1px #333; }
  .star-container .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-container .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-container .star-cb-group:hover > input + label:before {
    content: '★';
    color: #b5b5b5;
    text-shadow: none; }
  .star-container .star-cb-group:hover > input + label:hover ~ label:before,
  .star-container .star-cb-group:hover > input + label:hover:before {
    content: '★';
    color: #fc0;
    text-shadow: 0 0 1px #333; }

/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
.white-area {
  height: 224px;
  background: #F8F8F8;
  width: 100vw; }

.white-area-margin {
  margin-top: -204px; }

@media only screen and (max-width: 764px) {
  .white-area-margin {
    margin-top: -160px; } }

@media only screen and (max-device-width: 764px) {
  .white-area-margin {
    margin-top: -160px; } }

.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

@media only screen and (max-device-width: 480px) {
  .space-half {
    width: 100vw;
    height: 3vh; }
  .space {
    width: 100vw;
    height: 6vh; }
  .space-double {
    width: 100vw;
    height: 9vh; } }

.space-nav {
  width: 100vw;
  height: 80px; }

/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-auto {
  flex: auto; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

.text-center {
  text-align: center !important; }

.top-nav {
  padding: 15px 0 0 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(4px); }
  .top-nav > nav a {
    margin: auto 0;
    margin-right: 16px; }
  .top-nav > .logo {
    width: 50px; }

a, details, summary {
  color: #505050;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }

a:hover, summary:hover {
  color: #F94646; }

a.blue {
  color: #55ACEE; }

a.blue:hover {
  color: #8dc7f4; }

.bottom-nav {
  display: none;
  position: fixed;
  padding: 20px 0 12px 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  -moz-border-radius: 32% 32% 0 0;
  -webkit-border-radius: 32% 32% 0 0;
  border-radius: 32% 32% 0 0;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .bottom-nav ul li {
    margin: auto; }

@media only screen and (max-width: 764px) {
  .bottom-nav {
    display: block; } }

@media only screen and (max-device-width: 764px) {
  .bottom-nav {
    display: block; } }

.drop-body {
  background: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px; }

#navDrop {
  width: 152px; }
  #navDrop ul li {
    margin: 8px 0; }

.success {
  color: #73DA42 !important; }

.biscuit {
  width: 100vw;
  height: auto; }

.video-block, .uk-slider-items .video-block {
  background: #fff;
  display: flex;
  flex-direction: column;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  border: 1px solid #c1c1c1;
  height: 360px;
  width: 280px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24); }
  .video-block .top .badges, .uk-slider-items .video-block .top .badges {
    padding: 8px;
    position: absolute; }
    .video-block .top .badges > li, .uk-slider-items .video-block .top .badges > li {
      padding: 6px;
      margin-right: 8px;
      background: #fff;
      -moz-border-radius: 12px 12px 12px 12px;
      -webkit-border-radius: 12px 12px 12px 12px;
      border-radius: 12px 12px 12px 12px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
      .video-block .top .badges > li > img, .uk-slider-items .video-block .top .badges > li > img {
        height: 24px;
        width: 24px; }
  .video-block .top .thumbnail, .uk-slider-items .video-block .top .thumbnail {
    height: 200px;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .video-block .content, .uk-slider-items .video-block .content {
    padding: 10px 10px 0 10px;
    height: 96px; }
    .video-block .content .title, .uk-slider-items .video-block .content .title {
      font-size: 17px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      direction: rtl; }
    .video-block .content .desciption, .uk-slider-items .video-block .content .desciption {
      margin: 4px 0 0 0;
      height: 36px;
      font-size: 12px;
      color: #5F5F5F;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical; }
    .video-block .content a.tutor, .uk-slider-items .video-block .content a.tutor {
      margin-top: 4px;
      font-size: 12px; }
  .video-block hr, .uk-slider-items .video-block hr {
    margin: 10px 0; }
  .video-block .bottom, .uk-slider-items .video-block .bottom {
    padding: 0 10px; }
    .video-block .bottom .price, .uk-slider-items .video-block .bottom .price {
      font-size: 18px;
      margin: 0;
      color: #73DA42; }
    .video-block .bottom .star-container > span, .uk-slider-items .video-block .bottom .star-container > span {
      margin-top: auto;
      width: 24px;
      font-size: 12px; }

.video-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .6em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }
  .video-grid > .video-block {
    margin-left: auto; }

.side-category {
  width: 280px;
  z-index: 1000;
  padding: 16px;
  background: #fff;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  border: 1px solid #D4D4D4;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px; }

.side-category-placeholder {
  width: 314px; }

.uk-slider-items > li > div {
  display: flex; }
  .uk-slider-items > li > div .video-block {
    margin: auto; }

@media only screen and (max-width: 724px) {
  .side-category, .side-category-placeholder {
    display: none !important;
    margin: 0 !important; }
  .remove-at-mobile {
    display: none;
    margin: 0 !important; }
  .video-block {
    display: flex;
    flex-direction: row;
    height: 164px;
    width: 90vw;
    margin: auto; }
    .video-block .top {
      flex: none;
      display: flex;
      width: 230px !important; }
      .video-block .top .thumbnail {
        width: 230px !important;
        height: 164px;
        margin: 0 auto 0 0 !important;
        -moz-border-radius: 8px 0 0 8px;
        -webkit-border-radius: 8px 0 0 8px;
        border-radius: 8px 0 0 8px;
        /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .video-block .text {
      flex: 1; }
    .video-block hr {
      display: none !important; }
    .video-block .content {
      padding: 10px 10px 0 10px;
      height: 100px;
      display: flex;
      flex-direction: column; }
      .video-block .content .title {
        font-size: 17px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      .video-block .content .desciption {
        margin: 4px 0 0 0;
        height: 36px;
        font-size: 12px;
        color: #5F5F5F;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      .video-block .content a.tutor {
        margin-top: 4px;
        font-size: 12px; }
    .video-block hr {
      display: none; }
    .video-block .bottom {
      padding: 0 10px;
      display: flex;
      flex-direction: column-reverse; }
      .video-block .bottom .price {
        font-size: 18px;
        color: #73DA42; }
      .video-block .bottom .star-container {
        width: 100%; }
        .video-block .bottom .star-container > span {
          margin-top: auto;
          width: 24px;
          font-size: 12px; }
  .video-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .6em;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr)); }
    .video-grid > .video-block {
      margin-left: auto; } }

.remove-at-mobile {
  display: initial; }

/*@media only screen and (max-width: 724px) {
    .side-category, .side-category-placeholder {
        display: none !important;
    }

    .video-grid {

        > .video-block {
            margin-left: auto;
            margin-right: auto;
        }
    }
}*/
details, summary {
  cursor: pointer !important; }

.search-box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 12px;
  background: #EFEFEF;
  border: 1px solid #DDDDDD; }
  .search-box input {
    border: none;
    background: transparent;
    width: 92%; }
  .search-box button {
    color: #B9B9B9; }

.input-group {
  padding: 8px 12px;
  background: #EFEFEF;
  border: 1px solid #ddd;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .input-group input {
    background: transparent;
    border: none; }

.alert {
  color: #f53d3d; }

.btn-primary, .btn-secondary {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 20px;
  cursor: pointer;
  text-align: center;
  min-width: 170px; }

.btn-primary {
  color: white;
  background: #F94646;
  border: none;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.btn-primary:hover, .btn-primary:focus {
  background: #fa6e6e; }

.btn-secondary {
  color: #868686;
  background: #EFEFEF;
  border: 1px solid #ddd;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.btn-secondary:hover, .btn-secondary:focus {
  background: #dbdbdb;
  color: #727272; }

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px; }
  .form-group label {
    margin-bottom: 8px; }
  .form-group input {
    width: 100%; }
  .form-group .alert {
    margin-top: 6px; }

.playlist .handle {
  padding: 12px 17px;
  background: #fff;
  background: #fff;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  border: 1px solid #D4D4D4;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
