@import '_colors.scss';
@import '_starRating.scss';
@import '_layout.scss';
@import '_loading.scss';

.top-nav {
    padding: 15px 0 0 0;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    backdrop-filter: blur(4px);

    > nav {
        margin-left: 20px;

        a {
            margin: auto 0;
            margin-right: 16px;
            white-space: nowrap;
        }
    }

    > .logo {
        width: 50px;
        margin-right: 24px;
    }
}

a, details, summary, .anchor {
    color: $Text;
    @include trans(.3s);
}

a:hover, summary:hover, .active {
    color: $primary;
}

.blue {
    color: #55ACEE;
}

.blue:hover {
    color: lighten(#55ACEE,12%);
}

.bottom-nav {
    display: none;
    position: fixed;
    padding: 20px 0 12px 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #fff;
    @include shadow-medium;
    @include border-radius(16px,16px,0,0);

    ul {
        li {
            margin: auto;
        }
    }
}

$container-padding-phone: 0px;

@media only screen and (max-width: 764px) {

    .bottom-nav {
        display: block;
    }
}

@media only screen and (max-device-width: 764px) {
    .uk-container {
        padding: $container-padding-phone !important;
    }

    .top-nav {

        > nav {
            margin-left: 10px;

            a {
                margin: auto 0;
                margin-right: 16px;
                font-size: 14px;
            }
        }

        > .logo {
            width: 32px;
            margin-right: 10px;
        }
    }


    .bottom-nav {
        display: block;
    }
}

.drop-body {
    background: $white;
    border: 1px solid #ddd;
    @include border-radius(8px,8px,8px,8px);
    @include shadow-mild();
}

#navDrop {
    width: 152px;

    ul {
        li {
            margin: 8px 0;
        }
    }
}

.success {
    color: #73DA42 !important;
}

.biscuit {
    width: 100vw;
    height: auto;
}

$video-block-height: 360px;
$video-block-width: 280px;

.video-block, .uk-slider-items .video-block {
    background: #fff;
    @include column;
    @include border-radius(8px,8px,8px,8px);
    border: 1px solid #c1c1c1;
    height: $video-block-height;
    width: $video-block-width;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.24);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.24);
    box-shadow: 0 0 5px rgba(0,0,0,.24);

    .top {
        .badges {
            padding: 8px;
            position: absolute;

            > li {
                padding: 6px;
                margin-right: 8px;
                background: #fff;
                @include border-radius(12px,12px,12px,12px);

                > img {
                    height: 24px;
                    width: 24px;
                }
            }
        }

        .thumbnail {
            //width -> 280px;
            height: 200px;
            @include border-radius(7px,7px,0,0);
        }
    }

    .content {
        padding: 10px 10px 0 10px;
        height: 96px;

        .title {
            font-size: 17px;
            margin: 0;
            @include max-line(1);
            direction: rtl;
        }

        .desciption {
            margin: 4px 0 0 0;
            height: 36px;
            font-size: 12px;
            color: #5F5F5F;
            @include max-line(2);
        }

        a.tutor {
            margin-top: 4px;
            font-size: 12px;
        }
    }

    hr {
        margin: 10px 0;
    }

    .bottom {
        padding: 0 10px;

        .price {
            font-size: 18px;
            margin: 0;
            color: #73DA42;
        }

        .star-container {

            > span {
                margin-top: auto;
                width: 24px;
                font-size: 12px;
            }
        }
    }
}

.video-grid {
    @include grid-gap($video-block-width,16px);

    > .video-block {
        margin-left: auto;
    }
}

.video-grid.center {
    > .video-block {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

$side-category-width: 280px;

.side-category {
    width: $side-category-width;
    z-index: 1000;
    padding: 16px;
    @include mat();
    @include shadow-mild;
}

.side-category-placeholder {
    width: $side-category-width + 34;
}

.uk-slider-items {
    > li > div {
        display: flex;

        .video-block {
            margin: auto;
        }
    }
}

@media only screen and (max-width: 724px) {
    .side-category, .side-category-placeholder {
        display: none !important;
        margin: 0 !important;
    }

    .remove-at-mobile {
        display: none;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    //vertical
    .video-block {
        margin: auto;
    }


    /* $video-block-height: 164px;
    $video-block-width: 90vw;

    .video-block {
        @include row;d
        height: $video-block-height;
        width: $video-block-width;
        margin: auto;

        .top {
            flex: none;
            display: flex;
            width: 230px !important;

            .thumbnail {
                width: 230px !important;
                height: $video-block-height;
                margin: 0 auto 0 0 !important;
                @include border-radius(8px,0,0,8px);
            }
        }

        .text {
            flex: 1;
        }

        hr {
            display: none !important;
        }

        .content {
            padding: 10px 10px 0 10px;
            height: 100px;
            @include column;

            .title {
                font-size: 17px;
                margin: 0;
                @include max-line(1);
            }

            .desciption {
                margin: 4px 0 0 0;
                height: 36px;
                font-size: 12px;
                color: #5F5F5F;
                @include max-line(2);
            }

            a.tutor {
                margin-top: 4px;
                font-size: 12px;
            }
        }

        hr {
            display: none;
        }

        .bottom {
            padding: 0 10px;
            @include column-reverse;

            .price {
                font-size: 18px;
                color: #73DA42;
            }

            .star-container {
                width: 100%;

                > span {
                    margin-top: auto;
                    width: 24px;
                    font-size: 12px;
                }
            }
        }
    }
*/
    .video-grid {
        @include grid($video-block-width);

        > .video-block {
            margin-left: auto;
        }
    }
}

@media only screen and (max-device-width : 480px) {
    .remove-at-mobile {
        display: none !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}


/*@media only screen and (max-width: 724px) {
    .side-category, .side-category-placeholder {
        display: none !important;
    }

    .video-grid {

        > .video-block {
            margin-left: auto;
            margin-right: auto;
        }
    }
}*/

details, summary {
    cursor: pointer !important;
}

.search-box {
    @include border-radius(10px,10px,10px,10px);
    padding: 8px 12px;
    background: #EFEFEF;
    border: 1px solid #DDDDDD;

    input {
        border: none;
        background: transparent;
        width: 92%;
    }

    button {
        color: #B9B9B9;
    }
}

.input-group {
    padding: 8px 12px;
    background: #EFEFEF;
    border: 1px solid #ddd;
    @include border-radius(10px,10px,10px,10px);

    input {
        background: transparent;
        border: none;
    }
}

textarea {
    padding: 8px 12px;
    background: #EFEFEF;
    border: 1px solid #ddd;
    @include border-radius(10px,10px,10px,10px);
    resize: vertical;
    min-height: 48px;
}

input.uk-checkbox {
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-width: 2px
}

select {
    padding: 8px 12px;
    background: #EFEFEF;
    border: 1px solid #ddd;
    @include border-radius(10px,10px,10px,10px);
    cursor: pointer;

    option {
        background: white;
    }
}

.alert {
    color: #f53d3d
}

.btn-primary, .btn-secondary {
    @include border-radius(10px,10px,10px,10px);
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    min-width: 150px;
}

@media only screen and (max-device-width : 480px) {
    .btn-primary, .btn-secondary {
        @include border-radius(10px,10px,10px,10px);
        min-width: 100px;
    }
}

.btn-primary, .btn-pill-primary {
    color: white;
    background: $primary;
    border: none;
    @include trans(.2s);
}

.btn-pill-primary {
    cursor: pointer;
    padding: 12px;
    @include border-radius(12px,12px,12px,12px);
}

.btn-primary:hover, .btn-pill-primary:hover, .btn-primary:focus {
    background: lighten($primary,8%);
}

.btn-secondary {
    color: #868686;
    background: #EFEFEF;
    border: 1px solid #ddd;
    @include trans(.2s);
}

.btn-secondary:hover, .btn-secondary:focus {
    background: darken(#EFEFEF, 8%);
    color: darken(#868686, 8%);
}

.form {

    &-group {
        @include column;
        margin-bottom: 8px;

        label {
            margin-bottom: 8px;
        }

        input {
            width: 100%;
        }

        .alert {
            margin-top: 6px;
        }
    }
}

.videoClass {
    .header {
        .drop-body {
            padding: 16px;

            dl {
                dt {
                    font-weight: bold;
                    font-size: 15px;
                    color: #484848;
                    margin-bottom:3px;
                }

                dd {
                    font-weight: normal;
                    font-size: 13px;
                    color: #777;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .playlist {

        .handle {
            padding: 12px 17px;
            background: #fff;
            @include mat;
            @include shadow-mild;
            @include border-radius(50%,50%,50%,50%);
        }
    }
}

.uk-notification-message {
    background-color: #fff !important;
    direction: rtl;
    @include mat;
    @include shadow-more;

    .uk-notification-close {
        direction: rtl;
    }

    > div {
        margin-right: 24px;
    }
}

.listCategory {
    b {
        color: $primary;
    }
}