@charset "UTF-8";
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
:root {
  --star-size: 24px;
  --star-color: #b5b5b5;
  --star-background: #fc0; }

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  overflow-y: hidden; }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.star-container .star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */ }
  .star-container .star-cb-group * {
    font-size: 1rem;
    font-family: Times; }
  .star-container .star-cb-group > input {
    display: none; }
    .star-container .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.5rem; }
      .star-container .star-cb-group > input + label:before {
        font-family: Times;
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #b5b5b5; }
    .star-container .star-cb-group > input:checked ~ label:before,
    .star-container .star-cb-group > input + label:hover ~ label:before,
    .star-container .star-cb-group > input + label:hover:before {
      font-family: Times;
      content: '★';
      color: #fc0;
      text-shadow: 0 0 1px #333; }
  .star-container .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-container .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-container .star-cb-group:hover > input + label:before {
    content: '★';
    color: #b5b5b5;
    text-shadow: none; }
  .star-container .star-cb-group:hover > input + label:hover ~ label:before,
  .star-container .star-cb-group:hover > input + label:hover:before {
    content: '★';
    color: #fc0;
    text-shadow: 0 0 1px #333; }
