@model DataLayer.Models.TblUser

<div class="mat uk-padding uk-box-shadow-small column">
    <h3 class="uk-margin-remove">
        اطلاعات کاربری
    </h3>

    <ul class="datalist">
        <li>
            <label>نام و نام خانوادگی</label>
            <span>@Model.Name</span>
        </li>
        <li>
            <label>شماره تلفن</label>
            <span>@Model.TellNo</span>
        </li>
        <li>
            <label>ایمیل</label>
            <span>@Model.Email</span>
        </li>
    </ul>

    <div class="row-reverse uk-margin-top">
        <button class="btn-primary" type="button" onclick="editInfo()">
            ویرایش
        </button>
    </div>

</div>



