
@{
    ViewBag.Title = "پروفایل";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div id="info">
    @Html.Action("Info")
</div>


<script>
    function editInfo() {
        $.get('/User/Account/Edit', function (result) {
            reloadRech();
            UIkit.modal(document.getElementById('Modal-Show')).show();
            $('#Modal-Body').html(result);
        });
    };
    function doneEditInfo() {
        $.get('/User/Account/Info', function (result) {
            $('#info').html(result);
        });
    }
</script>