
@{
    ViewBag.Title = "پروفایل";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}



@Html.Action("Info")

<div id="Modal-Edit" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        @Html.Action("Edit")
    </div>
</div>
