@model DataLayer.Models.TblConfig
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="none" class="space-nav"></div>
<div class="column uk-container">
    <div class="mat uk-margin-auto
         uk-width-2-3-at-m uk-width-1-1-at-s
         uk-padding column uk-box-shadow-large">
        <!-- #region Content -->


        @Html.Raw(Model.AboutUsBody)


        <!-- #endregion -->
    </div>
</div>
