@using System.Configuration
@model DataLayer.Models.TblUser
<div style="direction: rtl; padding: 20px">
    <h2>@Model.Name عزیز !</h2>
    <p>جهت بازیابی کلمه عبور خود روی لینک زیر کلیک کنید .</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/RecoveryPassword/@Model.Auth">لینک بازیابی کلمه عبور </a>
    </p>
</div>





